<section>
  <div class="content-body">
    <h2>Search for pepole</h2>

    <form [formGroup]="searchForm">
      <input type="text" formControlName="searchControl" />
    </form>

    <div class="buttons">
      <button (click)="closeModal()">close</button>
    </div>

    <div class="nothing" *ngIf="results?.length === 0">
      <h2>Nothing found</h2>
    </div>

    @if (results?.length) {

    <div class="search-results">
      @for (item of results; track $index) {

      <div class="u-card">
        <div class="user-info">
          <img [src]="item?.photoURL" alt="" />
          <p>
            {{ item?.username }}
          </p>
        </div>

        <div class="btns">
          <button (click)="sendInvite(item)">Invite to chat</button>
        </div>
      </div>

      }
    </div>

    }
  </div>
</section>
