<main>
  @if (modalOpen()) {
  <div class="modal-component">
    <app-chat-create-modal
      (emitChatName)="createChat($event)"
      (closeModal)="modalOpen.set(!modalOpen())"
    />
  </div>
  } @if (notificationOpen()) {
  <app-notification-modal
    (closeModal)="notificationOpen.set(!notificationOpen())"
    (emitAccept)="acceptInvite($event)"
    (emitDecline)="declineInvite($event)"
    [data]="notifications()"
  />
  } @if (searchToggle()) {
  <app-user-search
    (close)="searchToggle.set(!searchToggle())"
    (emitSearch)="getUserSearch($event)"
    (emitInvite)="inviteUser($event)"
    [currentChatData]="currentChat()!"
    [results]="foundUsers()"
  />
  }

  <section>
    <aside id="left-panel">
      <div class="bars">
        <i class="fa-solid fa-bars" (click)="isActive.set(!isActive())"></i>
      </div>

      <div class="base-c" [class.active]="isActive()">
        <div class="top-section">
          <ul>
            <li (click)="modalOpen.set(!modalOpen())">
              <a>Create chat</a>
            </li>
          </ul>
        </div>
        <div class="chat-list">
          <!-- იუზერის ჩატების დასარენდერებლად -->
          @for (chat of chats()?.allChats; track $index) {

          <div
            class="chat-wrap"
            [ngClass]="{ active: currentChat()?.chatId === chat.chatId }"
          >
            <app-mini-chat [chatData]="chat" (chatSelected)="setChat($event)" />
          </div>

          }
        </div>
        <div class="user-m-profile">
          <!-- იუზერის პატარა მინი პროფილი სადაც გამოჩდება მოწვევები-->
          <app-user-mini-profile
            [user]="currentUser()"
            [notificationCount]="notifications().length"
            (openNotification)="notificationOpen.set(!notificationOpen())"
          />
        </div>
      </div>
    </aside>

    <aside id="chat-content">
      @if (currentChat()?.chatId && currentChat()?.chatId !== 'general' &&
      this.checkCreated() === false) {
      <div class="chat-header">
        <button (click)="quitChat(currentChat()!)">Leave chat</button>
      </div>
      }

      <div
        class="content"
        [appScroll]="chatContent() || currentChat()?.chatId !== ''"
      >
        <!-- მესიჯების დასარენდერებლად გამოიყენება -->

        @if (loadingChat()) {
        <div id="loader">
          <div class="spinner-wrapper">
            <div class="spinner"></div>
          </div>
        </div>
        }@else if (currentChat()?.chatId === null) {

        <div class="n-chat">
          <p>💬 Choose the chat and start the conversation👋</p>
        </div>

        }@else {

        <div class="chat-content-wrap">
          @if (chatContent().length === 0) {

          <div class="n-chat">
            <p>
              💬say hello to '{{ currentChat()?.chatName }}' chat members 👋
            </p>
          </div>

          } @else { @for (messageData of chatContent(); track $index) {
          <app-chat-content
            [chatContent]="messageData"
            [ngClass]="
              messageData.user_id === currentUser()?.uid ? 'myMsg' : ''
            "
          />
          } }
        </div>
        }
      </div>

      @if (currentChat() !== null) {
      <div class="input-area">
        <form [formGroup]="messageControl" (ngSubmit)="sendMessage()">
          <input
            type="text"
            placeholder="Type your message here..."
            formControlName="message"
          />

          @if (toggleEmojis()) {
          <app-emotes-panel
            [dataInput]="emojies()"
            (emotionEmit)="addEmote($event!)"
            (close)="toggleEmojis.set(!toggleEmojis())"
          />
          }

          <div class="btns">
            <button (click)="sendMessage()">
              <i class="fa-solid fa-arrow-up"></i>
            </button>

            <a (click)="toggleEmojis.set(!toggleEmojis())">
              <i class="fa-solid fa-face-smile"></i>
            </a>

            <button
              type="button"
              *ngIf="currentChat()?.chatId !== 'general'"
              (click)="searchToggle.set(!searchToggle())"
            >
              <i class="fa-solid fa-user-plus"></i>
            </button>
          </div>
        </form>
      </div>
      }
    </aside>
  </section>
</main>
