@use "./variables" as *;

@mixin static-center() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

@mixin box-style() {
  border-radius: 4px;
  box-shadow: 7px 3px 10px 5px rgba(0, 0, 0, 0.15);
}

@mixin flex($jus: center, $align: center, $wrap: wrap, $dir: column) {
  display: flex;
  justify-content: $jus;
  align-items: $align;
  flex-wrap: $wrap;
  flex-direction: $dir;
}

@mixin input-style($input-bg: $dark-blue) {
  flex: 1;
  height: 56px;
  border: none;
  outline: none;
  border-radius: 12px;
  background-color: $input-bg;
  padding: 0 20px;
  color: $white;
  font-size: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;
}

@mixin custom-button($h: 56px, $bg: $white, $c: $dark-blue, $h-c: $off-white) {
  padding: 0 20px;
  // height: 56px;
  height: $h;
  border: none;
  border-radius: 12px;
  background-color: $bg;
  color: $c;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

  &:hover {
    background-color: $h-c;
  }

  &:active {
    transform: scale(0.98);
  }
}

@mixin notification-ico() {
  display: block;
  position: absolute;
  top: -5px;
  right: -12px;
  background: $notification-color;
  font-family: $inter;
  color: white;
  font-size: 0.7rem;
  padding: 2px 6px;
  border-radius: 50%;
  line-height: 1;
  cursor: pointer;
}

@mixin modal-style() {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1200;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  @include static-center();
}

@mixin modal-body() {
  width: 90%;
  max-width: 550px;
  // height: 450px;
  background: white;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
