$main-bg-color: #1d2c41; // #151e3d
$secondary: #2e4156;
// perv color #05445e
$white: #ffffff;
$off-white: #f9f9f9;
$gray-light: #cbd5e0;
$gray-dark: #2d3748;
$danger: #e63946;
$success: #38a169;
$muted-gray: #2c3a50;
$dark-blue: #1a263d;

$active-bg-color: #273552;

$side-panel-bg-color: #162137;
$user-m-profile-bg: #1f2c45;

//ფონტები
$roboto: "Roboto", "sans-serif";
$inter: "Inter", "sans-serif";
$montserrat: "Montserrat", "sans-serif";
$poppins: "Poppins", "sans-serif";
$raleway: "Raleway", "sans-serif";
$rubik: "Rubik", "sans-serif";
$SpaceGrotesk: "Space Grotesk", "sans-serif";

// ფონტის ზომები
$font-size-xxl: 2.5rem;
$font-size-xl: 2rem;
$font-size-l: 1.5rem;
$font-size-m: 1.125rem;
$font-size-s: 0.875rem;
$font-size-xs: 0.75rem;
