$main-bg-color: #0f172a;
$secondary: #1e293b;
$off-white: #f1f5f9;
$white: #ffffff;
$muted-white: #cbd5e1;
$gray-light: #334155;
$gray-dark: #1a202e;
$google-bg: #db4437;

$light-green: #5dc48d;
$muted-gray: #2c3a50;
$dark-blue: #1a263d;
$cobalt: #1338be;
$error-bg: #f87171;
$success-color: #198754;
$warning-color: #fd7e14;

$primary: #3b82f6;
$primary-hover: #2563eb;
$danger: #ef4444;
$danger-hover: #dc2626;
$success: #22c55e;
$success-hover: #16a34a;
$warning: #facc15;

$side-panel-bg-color: #162137;
$user-m-profile-bg: #1f2c45;

$border-color: #334155;
$active-bg-color: #273552;
$notification-color: #f87171;

//ფონტები
$roboto: "Roboto", "sans-serif";
$inter: "Inter", "sans-serif";
$montserrat: "Montserrat", "sans-serif";
$poppins: "Poppins", "sans-serif";
$raleway: "Raleway", "sans-serif";
$rubik: "Rubik", "sans-serif";
$SpaceGrotesk: "Space Grotesk", "sans-serif";

// ფონტის ზომები
$font-size-xxl: 2.5rem;
$font-size-xl: 2rem;
$font-size-l: 1.5rem;
$font-size-m: 1.125rem;
$font-size-s: 0.875rem;
$font-size-xs: 0.75rem;
