@use "../../../scss/variables" as *;
@use "../../../scss/mixins" as *;

main {
  width: 100%;
  // background-color: $muted-gray;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;

  section {
    .title-c {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 15px;
      font-family: $inter;
      font-size: clamp(1rem, 2.5vw, 2rem);

      img {
        width: 90%;
        max-width: 50px;
        height: auto;
      }

      h1 {
        margin: 0;
        font-weight: 300;
        text-transform: capitalize;
      }
    }
  }
}
