<main>
  @if (modalOpen()) {
  <app-registration-modal
    (closeModal)="modalOpen.set(!modalOpen())"
    (emitRegisterData)="registerUser($event)"
  />
  }

  <section id="auth-container">
    <h2>Authorize</h2>

    <div class="login-form">
      <form [formGroup]="loginForm">
        <div class="input-wrap">
          <input
            type="text"
            placeholder="Email"
            formControlName="email"
            [ngClass]="{
              error:
                loginForm.controls.email.invalid &&
                loginForm.controls.email.touched
            }"
          />
          @if (loginForm.controls.email.hasError('required') &&
          loginForm.controls.email.touched ) {
          <p class="err-c">Email is required</p>
          } @if (loginForm.controls.email.hasError('email') &&
          loginForm.controls.email.touched ) {
          <p class="err-c">Enter correct email</p>
          }
        </div>

        <div class="input-wrap">
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
            [ngClass]="{
              error:
                loginForm.controls.password.invalid &&
                loginForm.controls.password.touched
            }"
          />
          @if (loginForm.controls.password.hasError('required') &&
          loginForm.controls.password.touched ) {
          <p class="err-c">Password is required</p>
          } @if (loginForm.controls.password.hasError('minlength') &&
          loginForm.controls.password.touched ) {
          <p class="err-c">Password must be at least 8 characters</p>
          } @if (loginForm.controls.password.hasError('maxlength') &&
          loginForm.controls.password.touched ) {
          <p class="err-c">Password must be less then 16 characters</p>
          }
        </div>

        <div class="buttons">
          <button type="submit" (click)="submitForm()">Login</button>
          <button type="button" (click)="modalOpen.set(!modalOpen())">
            Create account
          </button>
        </div>
      </form>
    </div>

    <div class="auth-options">
      <div class="options-head">
        <p>or sign up with</p>
      </div>
      <ul>
        <li id="google-auth" (click)="authService.googleAuth()">
          <i class="fa-brands fa-google"></i>
        </li>
        <li id="anonym" (click)="authService.loginAsAnonym()">
          <i class="fa-solid fa-user-secret"></i>
        </li>
      </ul>
    </div>
  </section>
</main>
